
@{
    ViewBag.Title = "AdminDataDaily";
}
@section Styles
{
    <link href="~/Content/dateTimePicker/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}


<h2>Projects Data Daily Report</h2>
<hr />
<div class="row text-right">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <div class='input-group date' id='Date'>
            <input type='text' class="form-control ff" name="Date" />
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
    </div>
</div>
<hr />
<div id="result" class="row"></div>




@section scripts{
    <script src="~/Content/dateTimePicker/jquery.min.js"></script>
    <script src="~/Content/dateTimePicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/App/projectData/project.data.daily.js"></script>
   
}


